.DS_store
old
ATL11_h5
__pycache__
*.h5
*~
ATL11_map.py
*.txt
plot_ATL11.py
read_PIG_xovers.py
sparseqr/
test.py
test_605.py
test_ATL11_dhdt.py
test_geo_index.py
test_pick.py
test_plot.py
._ATL11*
._Copy*
._ICES*
PIG
check_ATL11.py
corrected_h_map.py
cycle*
fromSuzanne
get_bounds_for_GL_sim.py
map_cycle3.py
par_run
plot_ATL11.m
run_one_ATL11.py
make_ATL11_queue.py
#plotting_scripts/
stash/
tests/



